<a href="https://colab.research.google.com/github/vishaldixit/MachineLearningCaseStudies/blob/master/Cycle_Sharing_Scheme_Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
%matplotlib inline
import random
import datetime
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import numpy as np
import scipy
from scipy import stats
import seaborn
import cv2
!pip install -U -q PyDrive

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import drive

drive.mount('/content/gdrive', force_remount=True)
root_path = 'gdrive/My Drive/Datasets-Colab/'  #change dir to your project folder

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
cycleDF=pd.read_csv(root_path+'/trip.csv')

In [7]:
#len(cycleDF)
cycleDF.head()

   trip_id         starttime          stoptime  ... usertype  gender birthyear
0      431  10/13/2014 10:31  10/13/2014 10:48  ...   Member    Male    1960.0
1      432  10/13/2014 10:32  10/13/2014 10:48  ...   Member    Male    1970.0
2      433  10/13/2014 10:33  10/13/2014 10:48  ...   Member  Female    1988.0
3      434  10/13/2014 10:34  10/13/2014 10:48  ...   Member  Female    1977.0
4      435  10/13/2014 10:34  10/13/2014 10:49  ...   Member    Male    1971.0

[5 rows x 12 columns]

In [9]:
#Sort by Start time Asscending
cycleDF.sort_values(by='starttime')
cycleDF.reset_index()

         index  trip_id  ...  gender birthyear
0            0      431  ...    Male    1960.0
1            1      432  ...    Male    1970.0
2            2      433  ...  Female    1988.0
3            3      434  ...  Female    1977.0
4            4      435  ...    Male    1971.0
...        ...      ...  ...     ...       ...
236060  236060   255241  ...     NaN       NaN
236061  236061   255242  ...     NaN       NaN
236062  236062   255243  ...     NaN       NaN
236063  236063   255244  ...     NaN       NaN
236064  236064   255245  ...     NaN       NaN

[236065 rows x 13 columns]

In [18]:
#Data set time duration
print('Start date time'+cycleDF.iloc[0,1] + ' Endtime' + cycleDF.iloc[len(cycleDF)-1,1])

Start date time10/13/2014 10:31 Endtime8/31/2016 23:49